body {
  background-color: $gray;
  font-size: $font-size;
}

.announcement {
  color: $red;
  margin-top: $font-size;
}

.app-title {
  background-color: $gray;
  font-size: $font-size-title;
  text-align: center;
}

.container-fluid {
  max-width: 860px;
  min-width: 640px;
}

.matrix .response .row {
  // This didn't work. Debug later.
  // height: 2 * $font-size;
  margin-top: $font-size;
}
