<!-- Get Matrix form HTML -->
<div class="player1 col-xs-4">
  <form id="get-matrix">
    <fieldset>
      <p>Enter matrix code:</p>

      <input type="text"
      name="matrix[code_prefix]" placeholder="4.75">

      <p> Δ </p>

      <input type="text"
      name="matrix[code_suffix]" placeholder="2">

      <input type="submit" name="submit" value="Look up">
    </fieldset>
  </form>
</div>
