<!-- Get Matrix form HTML -->
<div class='matrix col-xs-offset-2 col-xs-7'>
  <form id='get-matrix'>
    Enter matrix code:
    <input type='text' name='matrix[code_prefix]' class='code-prefix'>
    Δ
    <input type='text' name='matrix[code_suffix]'>
    <input type='submit' name='submit' value='Look up'>
  </form>
</div>
