  <div id='logged-in-user' class='logged-in-user col-xs-offset-2 col-xs-7'>
  </div>
  <div class='logged-in-buttons col-xs-3'>
    {{!-- <input type='button' id='change-settings-request' value='Settings'> --}}
    <a class="btn btn-default btn-sm" href="#">
      <span class="fa fa-cog"></span>
    </a>
    <input type='button' id='log-out-request' value='Log out'>
  </div>
