  <div id="logged-in-user" class="logged-in-user col-xs-offset-2 col-xs-4">
  </div>
  <div class="logged-in-buttons col-xs-3">
    <input type="button" id="change-settings-request" value="Change settings">
    <input type="button" id="log-out-request" value="Log out">
  </div>
