<div class='log-in col-xs-offset-4 col-xs-3'>
  <form id="log-in">
    <fieldset>
      <input type='email'
        name='email' placeholder='email'>
      <br>
      <input type='password' name='password' placeholder='password'>
      <br>
      <input type="submit" name="submit" value="Log in">
    </fieldset>
  </form>
</div>

<div class='register col-xs-2'>
  <input type="button" id="register" value="Register">
</div>
