<div class='register col-xs-offset-5 col-xs-3'>
  <form id="register">
    <fieldset>
      <input type='email'
        name='credentials[email]' placeholder='email'>
      <br>
      <input type='password' name='credentials[password]' placeholder='password'>
      <br>
      <input type='password'
        name='credentials[password_confirmation]' placeholder='confirm password'>
      <br>
      <input type='text'
        name='credentials[name]' placeholder='first & family name'>
      <br>
      <input type='text'
        name='credentials[organization]' placeholder='organization (optional)'>
      <br>
      <input type="submit" name="submit" value="Register">
    </fieldset>
  </form>
</div>
