  <form id='set-update'>
    <fieldset>
      <p>I have:
        <input type='number' class='number' name='quantity' placeholder='how many sets?'>
        <input id='update-sets-submit' type='submit' name='submit' value='Update'>
      </p>
    </fieldset>
  </form>
