  <form id="set-update">
    <fieldset>
      <p>I have:
        <input type='number'
          name='quantity' placeholder='how many sets?'>
        <input type="submit" name="submit" value="Update">
      </p>
    </fieldset>
  </form>
